// import directories
@use './0-base' as base;
@use './1-layouts' as layouts;
@use './2-modules' as modules;

// import print styles
@use './print';

@use '@angular/material' as mat;

@include mat.core();

.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
  padding-top: 50px;
  padding-bottom: 8px;
}

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
  padding-left: 5px;
}
